# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
poetry.lock
pipfile
pipfile.lock

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project logs
*.log
